:root {
    --lawful-lawful-rosewater: hsl(10, 56%, 91%);
    --lawful-flamingo: hsl(0, 58%, 88%);
    --lawful-pink: hsl(316, 72%, 86%);
    --lawful-fuchsia: hsl(302, 72%, 86%);
    --lawful-mauve: hsl(267, 84%, 81%);
    --lawful-red: hsl(343, 81%, 75%);
    --lawful-maroon: hsl(350, 65%, 77%);
    --lawful-peach: hsl(23, 92%, 75%);
    --lawful-yellow: hsl(41, 86%, 83%);
    --lawful-green: hsl(115, 54%, 76%);
    --lawful-teal: hsl(170, 57%, 73%);
    --lawful-sky: hsl(189, 71%, 73%);
    --lawful-sapphire: hsl(199, 76%, 69%);
    --lawful-lavender: hsl(232, 97%, 85%);
    --lawful-blue: hsl(217, 92%, 76%);
    --lawful-text: hsl(263, 63%, 82%);
    --lawful-subtext1: hsl(263, 35%, 74%);
    --lawful-subtext0: hsl(263, 24%, 66%);
    --lawful-overlay2: hsl(262, 17%, 55%);
    --lawful-overlay1: hsl(266, 13%, 49%);
    --lawful-overlay0: hsl(266, 11%, 41%);
    --lawful-surface2: hsl(267, 12%, 33%);
    --lawful-surface1: hsl(268, 13%, 25%);
    --lawful-surface0: hsl(270, 16%, 17%);
    --lawful-base: hsl(278, 24%, 9%);
    --lawful-mantle: hsl(280, 23%, 5%);
    --lawful-crust: hsl(300, 20%, 1%);
}