@import url('https://api.fonts.coollabs.io/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://api.fonts.coollabs.io/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 15px;
    background: var(--lawful-base);
    font-family: 'Inter Tight', sans-serif;
}

nav {
    font-family: 'Manrope', sans-serif;
}

header {
    margin-bottom: 30px;
}

.pfp {
    width: 20rem;
    height: auto;
    align-items: flex-end;
    border-radius: 50%;
    display: -webkit-box;
    margin-left: auto;
}

.greeting {
    font-weight: 500;
    font-size: 9rem;
    color: var(--chaotic-text);
}

section.greeting {
    font-size: 3em;
    font-weight: initial;
    color: var(--lawful-subtext1);
}

main {
    background-color: var(--lawful-surface0);
    padding: 10px;
    border-radius: 10px;
}