:root {
    --rosewater: hsl(10, 56%, 91%);
    --flamingo: hsl(0, 58%, 88%);
    --pink: hsl(316, 72%, 86%);
    --fuschia: hsl(302, 72%, 86%);
    --mauve: hsl(267, 84%, 81%);
    --red: hsl(343, 81%, 75%);
    --maroon: hsl(350, 65%, 77%);
    --peach: hsl(23, 92%, 75%);
    --yellow: hsl(41, 86%, 83%);
    --green: hsl(115, 54%, 76%);
    --teal: hsl(170, 57%, 73%);
    --sky: hsl(189, 71%, 73%);
    --sapphire: hsl(199, 76%, 69%);
    --lavender: hsl(232, 97%, 85%);
    --blue: hsl(217, 92%, 76%);
    /* nekoppuccin chaotic */
    --chaotic-text: hsl(295, 63%, 82%);
    --chaotic-subtext1: hsl(295, 35%, 74%);
    --chaotic-subtext0: hsl(296, 24%, 66%);
    --chaotic-overlay2: hsl(294, 18%, 55%);
    --chaotic-overlay1: hsl(298, 13%, 49%);
    --chaotic-overlay0: hsl(297, 11%, 41%);
    --chaotic-surface2: hsl(300, 12%, 33%);
    --chaotic-surface1: hsl(300, 13%, 25%);
    --chaotic-surface0: hsl(300, 16%, 17%);
    --chaotic-base: hsl(305, 24%, 9%);
    --chaotic-mantle: hsl(310, 23%, 5%);
    --chaotic-crust: hsl(300, 20%, 1%);
    --lawful-text: hsl(263, 63%, 82%);
    /* nekoppucin lawful */
    --lawful-subtext1: hsl(263, 35%, 74%);
    --lawful-subtext0: hsl(263, 24%, 66%);
    --lawful-overlay2: hsl(262, 17%, 55%);
    --lawful-overlay1: hsl(266, 13%, 49%);
    --lawful-overlay0: hsl(266, 11%, 41%);
    --lawful-surface2: hsl(267, 12%, 33%);
    --lawful-surface1: hsl(268, 13%, 25%);
    --lawful-surface0: hsl(270, 16%, 17%);
    --lawful-base: hsl(278, 24%, 9%);
    --lawful-mantle: hsl(280, 23%, 5%);
    --lawful-crust: hsl(300, 20%, 1%);
}